@charset "ISO-8859-1";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Gill Sans MT", monospace;
}

.container {
	margin: 20px;
	padding: 20px;
	display: flex;
	align-items: center;
	width: 100%;
	flex-direction: column;
}

.container * {
	margin: 10px;
}

.text-blue {
	color: #075293;
}

.text-green {
	color: #2F7013;
}

.btn {
	padding: 5px 10px;
	border: 1px solid black;
	border-radius: 5px;
	box-shadow: 3px 3px 1px black;
}

.btn-blue {
	background-color: #075293;
	color: white;
}

.btn-danger {
	background-color: red;
	color: white;
}

.right {
	display: flex;
	justify-content: flex-end;
}

h1, h2 {
	color: #125A97;
}

.row {
	display: flex;
	align-items: flex-start;
	justify-content: center;
}

.align-center {
	align-items: center;
}

.justify-between {
	justify-content: space-between;
}

.justify-start {
	justify-content: flex-start;
}

.block {
	display: block;
	margin: 10px;
}

.row * {
	margin: 10px;
}

.col {
	flex: 1;
}

.col-2 {
	flex: 2;
}

.col-3 {
	flex: 3;
}

.form {
	padding: 20px;
	border: 1px solid black;
}


.table {
	border-collapse: collapse;
	border: 1px solid black;
	text-align: center;
	margin: 30px;
}

.table-striped tr:nth-child(even) {
	background-color: #ddd;
}

th, td {
	padding: 10px;
}

tr {
	border: 1px solid black;
}

.text-danger {
	color: red;
}

.text-center {
	text-align: center;
}