@charset "ISO-8859-1";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Gill Sans MT", sans-serifl
}

.container-fluid {
	display: block;
	width: 100%;
	margin: 20px;
	padding: 100px;
}

.mt-20 {
	margin-top: 20px;
}

.mr-10 {
	margin-right: 10px;
}

.container {
	margin: 20px;
}

.row {
	display: flex;
	align-items: flex-start;
	justify-content: space-evenly;
	gap: 50px;
}

.align-start {
	align-items: flex-start;
}

.justify-between {
	justify-content: space-between;
}

table, .table {
	border-collapse: collapse;
	width: 100%;
}

.table th, .table td {
	border: 1px solid #ddd;
	padding: 10px;
}

.table.table-striped tr:nth-child(even) {
	background-color: #F2F2F2;
}

.table.table-striped tr:hover {
	background-color: #DDD;
}

.table th {
	padding-top: 15px;
	padding-bottom: 15px;
	text-align: center;
	background-color: #63BFB2;
}

.col {
	flex: 1;
}

.col-2 {
	flex: 2;
}

.col-3 {
	flex: 3;
}

blockquote {
	border-top: 2px solid black;
	border-bottom: 2px solid black;
	margin-left: 50px;
	font-style: italic;
	font-size: 1.25rem;
	padding: 20px;
}

.form {
	margin-top: 10px;
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.italic {
	font-style: italic;
}

.form-group {
	display: flex;
	align-items: center;
	justify-content: space-around;
	gap: 10px;
}

.text-purple {
	color: rebeccapurple;
}

.text-green {
	color: #3EB64B;
}

.text-danger {
	color: red;
}

.right {
	display: flex;
	justify-content: flex-end;
}

.left {
	justify-content: flex-start;
}

.pointer {
	cursor: pointer;
}

.btn {
	padding: 10px 20px;
	background-color: #395EAC;
	color: white;
	border: 1px solid black;
	box-shadow: 5px 5px 1px black;
	text-decoration: none;
	font-size: 1rem;
	cursor: default;
}

.btn-green {
	background-color: #3EB64B;
}

.btn-danger {
	background-color: red;
}